@page "/mytest"
@inject HttpService HttpService
@inject IConfiguration config

<h3>Upload</h3>

<!-- Current Date and Time -->
<section class="current-datetime">
    <h4>Current Date and Time</h4>
    <p>@DateTime.Now.ToString("F")</p>
</section>

<!-- File Section -->
<section class="upload-one-file">
    <h4>Upload File(s)</h4>
    <button class="btn btn-primary" @onclick="OnShowModalClick">Upload File(s)</button>
</section>

<!-- File Upload Modal -->
<div class="modal" tabindex="-1" style="display:@(isModalVisible ? "block" : "none")">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Files</h5>
                <button type="button" class="btn-close" @onclick="OnHideModalClick"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="siteName" class="form-label">Site Name</label>
                    <select class="form-select" id="siteName" @onchange="OnSiteNameChanged">
                        <option value="">Select a site</option>
                        @foreach (var site in siteNames)
                        {
                            <option value="@site">@site</option>
                        }
                    </select>
                </div>
                <div class="mb-3 @(string.IsNullOrEmpty(image.SiteName) ? "disabled-field" : "")">
                    <label for="siteNumber" class="form-label">Site Number</label>
                    <select class="form-select" id="siteNumber" @onchange="OnSiteNumberChanged" disabled="@(string.IsNullOrEmpty(image.SiteName))">
                        <option value="">Select a site number</option>
                        @if (siteNumbers != null && !string.IsNullOrEmpty(image.SiteName) && siteNumbers.ContainsKey(image.SiteName))

                        {
                            @foreach (var number in siteNumbers[image.SiteName])
                            {
                                <option value="@number">@number</option>
                            }
                        }
                    </select>
                </div>
                <div class="mb-3 @(image.SiteNumber == null ? "disabled-field" : "")">
                    <label for="cameraPosition" class="form-label">Camera Position</label>
                    <select class="form-select" id="cameraPosition" @onchange="OnCameraPositionChanged" disabled="@(image.SiteNumber == null)">
                        <option value="">Select a camera position</option>
                        @if (cameraPositions != null)
                        {
                            @foreach (var position in cameraPositions)
                            {
                                <option value="@position.Value">@position.PositionName</option>
                            }
                        }
                    </select>
                </div>
                <div class="mb-3 @(string.IsNullOrEmpty(image.CameraPositionName) ? "disabled-field" : "")">
                    <label for="cameraPositionNumber" class="form-label">Camera Position Number</label>
                    <input type="text" class="form-control" id="cameraPositionNumber" @bind="image.CameraPositionNumber" readonly />
                </div>
                <!-- Date-Time Picker -->
                <div class="mb-3">
                    <label for="photoDateTime" class="form-label">Photo Date and Time</label>
                    <input type="datetime-local" id="photoDateTime" @onchange="OnDateTimeChanged" class="form-control" />
                </div>

                <InputFile OnChange="HandleFileSelected" id="fileInputElement" multiple accept=".jpg,.jpeg" class="@(string.IsNullOrEmpty(image.CameraPositionName) ? "disabled-field" : "")" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="OnHideModalClick">Close</button>
                <button type="button" class="btn btn-primary" @onclick="UploadFiles" disabled="@(!CanUpload)">Upload</button>
            </div>
        </div>
    </div>
</div>


<style>
    .disabled-field {
    pointer-events: none;
    opacity: 0.3;
    }
</style>

@if(errors.Count > 0)
{
    <h2>Error(s)</h2>
    <ul class="text-danger">
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}

@code{
    private bool isModalVisible = false;
    private int maxAllowedFiles = 5;
    private List<string> errors = new();
    private List<IBrowserFile> selectedFiles = new List<IBrowserFile>();

    private Image image = new Image();

    private bool CanUpload => !string.IsNullOrEmpty(image.SiteName) && image.SiteNumber.HasValue && !string.IsNullOrEmpty(image.CameraPositionName) && image.CameraPositionNumber >= 0 && selectedFiles.Any();

    private List<string> siteNames = new();
    private Dictionary<string, List<int>> siteNumbers = new();

    private List<CameraPositionEntry> cameraPositions = CameraPositions.Positions.Where(p => p.SiteName == "Rockland" && p.SiteNumber == 1).ToList();

    private Dictionary<string, List<int>> SiteNameToSiteNumbersMap = new()
    {
        { "Eldorado", new List<int>{ 3 }},
        { "Sheep", new List<int>{ 0, 1, 2, 3, 4 }},
        { "Snake", new List<int>{ 1, 2, 3 }},
        { "Spring", new List<int>{ 3, 4 }},
        { "Rockland", new List<int>{ 1 }}
    };
    private List<int> SiteNumbers = new List<int> { 1 };

    protected override void OnInitialized()
    {
        LoadSiteData();
    }

    private void LoadSiteData()
    {
        siteNames = CameraPositions.Positions.Select(p => p.SiteName).Distinct().ToList();
        siteNumbers = CameraPositions.Positions
            .GroupBy(p => p.SiteName)
            .ToDictionary(g => g.Key, g => g.Select(p => p.SiteNumber).Distinct().ToList());
    }

    private void OnSiteNameChanged(ChangeEventArgs e)
    {
        image.SiteName = e.Value?.ToString() ?? string.Empty;
        image.SiteNumber = null;
        image.CameraPositionName = string.Empty;
        image.CameraPositionNumber = 0;
        cameraPositions.Clear();
        if (!string.IsNullOrEmpty(image.SiteName) && siteNumbers.ContainsKey(image.SiteName))
        {
            siteNumbers[image.SiteName] = CameraPositions.Positions
                .Where(p => p.SiteName == image.SiteName)
                .Select(p => p.SiteNumber)
                .Distinct()
                .ToList();
        }
    }

    private void OnDateTimeChanged(ChangeEventArgs e)
    {
        if (DateTime.TryParse(e.Value?.ToString(), out var userDateTime))
        {
            image.DateTime = userDateTime;
            image.UnixTime = new DateTimeOffset(userDateTime).ToUnixTimeSeconds();
        }
    }

    private void OnSiteNumberChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out var number))
        {
            image.SiteNumber = number;
            image.CameraPositionName = string.Empty;
            image.CameraPositionNumber = 0;
            cameraPositions = CameraPositions.Positions
                .Where(p => p.SiteName == image.SiteName && p.SiteNumber == image.SiteNumber)
                .ToList();
        }
        else
        {
            image.SiteNumber = null;
            image.CameraPositionName = string.Empty;
            image.CameraPositionNumber = 0;
        }
    }

    private void OnCameraPositionChanged(ChangeEventArgs e)
    {
        image.CameraPositionName = e.Value?.ToString() ?? string.Empty;
        if (!string.IsNullOrEmpty(image.CameraPositionName))
        {
            var selectedPosition = cameraPositions.FirstOrDefault(p => p.Value.ToString() == image.CameraPositionName);
            if (selectedPosition != null)
            {
                image.CameraPositionNumber = selectedPosition.Value;
            }
        }
    }

    
    private Task OnShowModalClick()
    {
        isModalVisible = true;
        return Task.CompletedTask;
    }

    private Task OnHideModalClick()
    {
        isModalVisible = false;
        return Task.CompletedTask;
    }

    private List<string> GetCameraNumbers()
    {
        if (siteNumbers != null && !string.IsNullOrEmpty(image.SiteName) && siteNumbers.ContainsKey(image.SiteName) && siteNumbers[image.SiteName].Contains(image.SiteNumber.GetValueOrDefault()))
        {
            return siteNumbers[image.SiteName].Select(sn => sn.ToString()).ToList();
        }
        return new List<string>();
    }

    private async Task Upload(InputFileChangeEventArgs e)
    {
        errors.Clear();
        var files = e.GetMultipleFiles();
        selectedFiles.AddRange(files);

        try
        { 
            var response = await HttpService.UploadImageAsync(selectedFiles);

            foreach (var file in files)
            {
                var fileName = file.Name;
                var fileSize = file.Size;

                using var stream = file.OpenReadStream();
                using var reader = new StreamReader(stream);
                var fileContents = await reader.ReadToEndAsync();

                Console.WriteLine($"[INFO] [ImageUploadService.cs] [SaveImageAsync]: File name: {fileName}");
                Console.WriteLine($"[INFO] [ImageUploadService.cs] [SaveImageAsync]: File size: {fileSize} bytes");
                //TODO: extract time from photo's metadata at time taken/created?
                Console.WriteLine($"[INFO] [ImageUploadService.cs] [SaveImageAsync]: Photo time: {image.DateTime}");
                if (response.IsSuccessStatusCode)
                {
                    await OnHideModalClick();
                }
                else
                {
                    errors.Add("[ERROR] [ImageUploadService.cs] [SaveImageAsync]: Error uploading file.");
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Message: {ex.Message}");
            throw;
        }
    }

    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        errors.Clear();
        var files = e.GetMultipleFiles();
        if (files.Count > maxAllowedFiles)
        {
            errors.Add($"Error: Upload exceeding max file count. {maxAllowedFiles}");
            return;
        }
        selectedFiles.AddRange(files);
    }

    private async Task UploadFiles() 
    {
        if (CanUpload)
        {
            await Upload(new InputFileChangeEventArgs(selectedFiles));
            await OnHideModalClick();
        }
    }
}